  <section class="hero">
      <div class="container text-center">
        <div class="row">
          <div class="col-md-12">
            <a class="hero-brand" href="/" title="Home"><%= image_tag "logo.png" %></a>
          </div>
        </div>

        <div class="col-md-12">
          <h1>
            A theme with personality
          </h1>

          <p class="tagline">
            We can customize the background to have a slide show or to be of a video presentation.
          </p>
          <a class="btn btn-full" href="#about">Enter site . . .</a>
        </div>
      </div>
      
    </section>
    <!-- /Hero -->
    
 